{% extends 'starter.html' %}
{% block titulo %}_-=RE-Registrar Participantes=-_{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/checked_img.css' %}">
{% endblock extras_css %}
{% block extras_js %}
{% endblock extras_js %}
{% block content_header %}
    <section class="content-header">
      <h1>
        Registrar Participante
        <small>Mustra el formulario de registro para los Participantes</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {% block breadcrumbs %} Level {% endblock breadcrumbs %}</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
{% endblock content_header %}
{% block content_main %}
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                <i class="fa fa-list"></i>
                <h3 class="box-title"> Registrar Participantes</h3>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'registro:list_participantes' %}" class="fa fa-list btn btn-block btn-primary"> Listar Participantes</a>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'registro:add_participante_evento' %}" class="fa fa-plus btn btn-block btn-success"> Agregar Participantes a un Evento</a>
                </div><br><br>
                <div class="box-body pad table-responsive">
                <form id="forma_activar" class="col-md-5" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-block btn-primary">Registrar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content_main %}