{% extends 'starter.html' %}

{% block titulo %}_-=SERE-Consultar Regito a Eventos=-_{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
    <script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#id_cargar_mass").fileinput({
            showCaption: true,
            browseLabel: "Subir Archivo",
            removeLabel: "Eliminar",
            uploadLabel:"Actualizar",
            allowedFileExtensions: ['csv', 'xls', 'ods', 'xlsx']
        });
    $("#forma_upload" ).submit(function() {
        $("#mensaje_espera").modal()
        $("#mensaje_espera").show()
    });
    });
    </script>
{% endblock extras_js %}
{% block content_header %}
<div class="modal fade" id="mensaje_espera" role="dialog" style="display:None">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="box-header box box-info box-solid">
                <h4 class="modal-title">Cargando datos..</h4>
            </div>
            <div class="modal-body">
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
                <p>Los datos solicitados se están cargando. Por favor espere...</p>
            </div>
        </div>
    </div>
</div>
    <section class="content-header">
      <h1>
        Carga masiva de datos del registro de Evento
        <small>El evento debe estar creado para poder comenzar la carga</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {% block breadcrumbs %} Level {% endblock breadcrumbs %}</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
{% endblock content_header %}
{% block content_main %}
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                <i class="fa fa-list"></i>
                <h3 class="box-title"> Lista de Eventos</h3>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'registro:registrar_participante' %}" class="fa fa-plus btn btn-block btn-primary"> Agregar Participante</a>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'registro:list_participante_evento' %}" class="fa fa-list btn btn-block btn-primary"> Listar los Participante que se registraron</a>
                </div><br><br>
                <div class="box-body pad table-responsive">
                <form id="forma_upload" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-block btn-primary">Cargar</button>
                </form>
                {% csrf_token %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content_main %}


