{% extends 'starter.html' %}
{% block titulo %}_-=SERE-Consultar Regito a Eventos=-_{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<link rel="stylesheet" href="{% static 'css/checked_img.css' %}">
<script src="{% static 'DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'eventos/eventos.js' %}" type="text/javascript"></script>
<script type="text/javascript">
    
    var evento = ""
    var LISTAR = "{% url 'registro:ajax_certificacion_participante' %}"; //  Url para la lista de eventos
    if ($.get("evento"))
        {
            evento = $.get("evento");
            LISTAR = LISTAR + "?evento=" + evento;
        }
    $(document).ready(function (){
        $("#forma_certificar" ).submit(function() {
        $("#mensaje_espera").show()
        });
    });
</script>
<script src="{% static 'eventos/event_listDataTable.js' %}" type="text/javascript"></script>
{% endblock extras_js %}
{% block content_header %}
<div class="modal fade" id="mensaje_espera" role="dialog" style="display:None">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="box-header box box-info box-solid">
                <h4 class="modal-title">Realizando certificado..</h4>
            </div>
            <div class="modal-body">
            <div class="overlay">
              <i class="fa fa-refresh fa-spin"></i>
            </div>
                <p>El certificado se esta realizando. Por favor espere...</p>
            </div>
        </div>
    </div>
</div>
    <section class="content-header">
      <h1>
        Lista los Participantes Registrados
        <small>Mustra los datos de los participantes que se registraron a un evento</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {% block breadcrumbs %} Level {% endblock breadcrumbs %}</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
{% endblock content_header %}
{% block content_main %}
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                <i class="fa fa-list"></i>
                <h3 class="box-title"> Lista de Eventos</h3>
                </div>
                <div class="col-lg-3">
                    <a href="{%url 'registro:add_participante_evento' %}" class="glyphicon glyphicon-plus btn btn-block btn-primary"> Agregar Participante a Evento</a>
                </div><br><br>
                <div class="box-body pad table-responsive">
                <form id="forma_evento" method="get">
                {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-block btn-primary">Buscar y listar</button>
                </form>
                <form id="forma_certificar" method="post">
                {% csrf_token %}
                    <table id="datatable" class="diplay">
                        <thead>
                            <tr>
                                <th>Evento</th>
                                <th>Participante</th>
                                <th>Cedula</th>
                                <th>Correo</th>
                                <th>Modalidad que participa</th>
                                <th>Se encuentra certificado?</th>
                                <th>Certificar</th>
                            </tr>
                        </thead>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content_main %}
