{% extends 'starter.html' %}
{% block titulo %}_-=SERE-Consultar Eventos=-_{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<link rel="stylesheet" href="{% static 'css/checked_img.css' %}">
<script src="{% static 'DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'DataTables/media/js/dataTables.buttons.min.js' %}" type="text/
javascript"></script>
<script src="{% static 'DataTables/media/js/buttons.flash.min.js' %}" type="text/
javascript"></script>
<script src="{% static 'DataTables/media/js/jszip.min.js' %}" type="text/
javascript"></script>
<script src="{% static 'DataTables/media/js/pdfmake.min.js' %}" type="text/
javascript"></script>
<script src="{% static 'DataTables/media/js/vfs_fonts.js' %}" type="text/
javascript"></script>
<script src="{% static 'DataTables/media/js/buttons.html5.min.js' %}" type="text/
javascript"></script>
<script src="{% static 'DataTables/media/js/buttons.print.min.js' %}" type="text/
javascript"></script>

<script type="text/javascript">
// Objeto Json lista de eventos
    var LISTAR = "{% url 'registro:list_ajax_events' %}"
    function modal_events(id_evento){
      $.ajax({
        url: "{% url 'registro:update_event' %}",
        type: "GET",
        data: {
            id_evento: id_evento
        },
        dataType: 'html',
        success: function(data) {
                  $('#modal-body').html(data);
              }
      });

    }
</script>
<script src="{% static 'eventos/event_listDataTable.js' %}" type="text/javascript"></script>
{% endblock extras_js %}
{% block content_header %}
    <section class="content-header">
      <h1>
        Lista los Eventos
        <small>Mustra los datos de los eventos</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {% block breadcrumbs %} Level {% endblock breadcrumbs %}</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
{% endblock content_header %}
{% block content_main %}
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                <i class="fa fa-list"></i>
                <h3 class="box-title"> Lista de Eventos</h3>
                </div>
                <div class="col-lg-3">
                    <a href="{% url 'registro:registrar_evento' %}" class="glyphicon glyphicon-plus btn btn-block btn-primary"> Agregar un Evento</a>
                </div><br><br>
                <div class="box-body pad table-responsive">
                <form id="forma_activar" method="post">
                {% csrf_token %}
                    <table id="datatable" class="diplay">
                        <thead>
                            <tr>
                                <th>Evento</th>
                                <th>Fecha de Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Activo/Inactivo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content_main %}