{% block extras_css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap-fileinput/css/fileinput.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<link rel="shortcut icon" type="image/png" href="{% static 'icon/favicon.ico' %}"/>
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="{% static 'bootstrap-3/css/bootstrap.min.css' %}">
<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
<!-- Ionicons -->
<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">

<link rel="stylesheet" href="{% static 'plugins/iCheck/square/blue.css' %}">
<script src="{% static 'DataTables/media/js/jquery.js' %}" type="text/javascript"></script>

<!-- Bootstrap 3.3.6 -->
<script src="{% static 'bootstrap-3/js/bootstrap.min.js' %}" type="text/javascript"></script>

<!-- AdminLTE App -->
<script src="{% static 'dist/js/app.min.js' %}" type="text/javascript"></script>

<script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/user_register.js' %}"></script>
<script src="{% static 'bootstrap-fileinput/js/fileinput.min.js' %}"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#myModalLabel').text('Evento');
});
</script>
{% endblock extras_js %}
<form action="{% url 'registro:update_event' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="text" id="pk_evento" value="{{evento.pk}}" name="evento" hidden="true"></input>
<div class="modal-footer">
<input type="submit" value="Actualizar Evento" class="btn btn-primary"/>
</form>
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>

