{% extends "starter.html" %}
{% block titulo %}_-=SERE-ERROR 403=-_{% endblock titulo %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        403 Error Page
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Examples</a></li>
        <li class="active">403 error</li>
      </ol>
    </section>
  {% endblock content_header %}
  {% block content_main %}
    <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-blue"> 403</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-blue"></i> Oops! No tiene permiso de acceso a esta pagina.</h3>

          <p>
            No puedes acceder a la pagina que buscas.
            Puedes <a href="{% url 'users:home' %}">retornar a inicio</a> o solicitar al administrador permisos de acceso.
          </p>

          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-info btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
    {% endblock content_main %}
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}
