{% extends 'starter.html' %}
{% block titulo %}_-=SERE-Registrar Actividad =-_{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{% static 'plugins/iCheck/all.css' %}">
  <!-- Bootstrap Color Picker -->
  <link rel="stylesheet" href="{% static 'plugins/colorpicker/bootstrap-colorpicker.min.css' %}">
  <!-- Bootstrap time Picker -->
  <link rel="stylesheet" href="{% static 'plugins/timepicker/bootstrap-timepicker.min.css' %}">
  <!-- Select2 -->
  <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
{% endblock extras_css %}
{% block content_header %}
<section class="content-header">
      <h1>
        Registrar Actividad
        <small>Por favor llenar el formulario</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {% block breadcrumbs %} Level {% endblock breadcrumbs %}</a></li>
        <li class="active">Here</li>
      </ol>
</section>
{% endblock content_header %}
{% block activeproyecto %}{% endblock activeproyecto %}
{% block cargas %} class="treeview active" {% endblock cargas %}
{% block content_main %}
<div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Select2</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <form id="carga_historica" action="{% url 'utils_carga:carga_masiva' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" id="LoadRecordsButton"> Cargar Csv </button>
                </form>
         </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
      </div>
      <!-- /.box -->
{% endblock content_main %}