{% extends "starter.html" %}
{% block titulo %}_-=SERE-ERROR 500=-_{% endblock titulo %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  {% block content_header %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        500 Error Page
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> </a></li>
        <li><a href="#"></a></li>
        <li class="active">500 error</li>
      </ol>
    </section>
    {% endblock content_header %}
    {% block content_main %}
    <!-- Main content -->
    <section class="content">

      <div class="error-page">
        <h2 class="headline text-red">500</h2>

        <div class="error-content">
          <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

          <p>
            We will work on fixing that right away.
            Meanwhile, you may <a href="../../index.html">return to dashboard</a> or try using the search form.
          </p>

          <form class="search-form">
            <div class="input-group">
              <input type="text" name="search" class="form-control" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" name="submit" class="btn btn-danger btn-flat"><i class="fa fa-search"></i>
                </button>
              </div>
            </div>
            <!-- /.input-group -->
          </form>
        </div>
      </div>
      <!-- /.error-page -->
    </section>
    <!-- /.content -->
    {% endblock content_main %}
  </div>
  <!-- /.content-wrapper -->
  {% endblock content %}