{% extends "users/login.html" %}
{% block titulo %}_-=SERE-Recuperar Contraseña=-_{% endblock titulo %}

{% block login %}
        <div class="row">
            <div class="col-md-6 col-sm-offset-3">
                <div class="page-header">
                    <h2>Olvide mi contraseña</h2>
                </div>

                    <!-- Importa el formulario de forget-->
                <form method="post"  enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary btn-block btn-fla">Recuperar</button>
                </form>
            </div>
        </div>
    {% endblock login %}