<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block titulo %}_-=SERE-Login=-_{% endblock titulo %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% load staticfiles %}
  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'icon/favicon.ico' %}"/>
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'bootstrap-3/css/bootstrap.min.css' %}">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'plugins/iCheck/square/blue.css' %}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- jQuery 2.2.3 -->
  <script src="{% static 'plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
  <!-- Bootstrap 3.3.6 -->
  <script src="{% static 'bootstrap-3/js/bootstrap.min.js' %}"></script>
  <!-- iCheck -->
  <script src="{% static 'plugins/iCheck/icheck.min.js' %}"></script>
  {% block extras_css %} {% endblock extras_css %}
  {% block extras_js %} {% endblock extras_js %}
</head>
<body class="hold-transition login-page">
<div align="center">
  <img src="{% static 'imagenes/header_mc.png' %}"/>
</div>
{% block messages %}
<div class="box-body">
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        No se pudo continuar con la aplicacion debido a los siguientes errores:<br/>
        <ul>
            {% for field in form %}
                {% if field.errors %}<li>{{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
        </ul>
        </div>
    {% endif %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-check"></i> Exito!</h4>
                {{ message }}
             </div>
        {% elif 'info' in message.tags %}
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-info"></i> Informacion!</h4>
                {{ message }}
          </div>
        {% elif 'warning' in message.tags %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-warning"></i> Advertencia!</h4>
                {{ message }}
            </div>
        {% elif 'error' in message.tags %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4><i class="icon fa fa-ban"></i> Error!</h4>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock messages %}
{% block login %}
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>SE</b>RE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Entra para iniciar sesión</p>

    <form id="form" action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
      <div class="form-group has-feedback">
        {{ form.usuario }}
        <span class="glyphicon fa-key form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.contrasena }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
            {{form.remember_me}}
            {{form.remember_me.label}}  
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <!-- Se comenta porque no se usaran las redes sociales para esta aplicacion administrativa 
    <div class="social-auth-links text-center">
      <p>- Ó -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Entrar usando
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Entrar usando
        Google+</a>
    </div>-->
    <!-- /.social-auth-links -->

    <a href="{% url 'users:forget' %}">Olvide mi contraseña</a><br>
    <!--
    <a href="#" class="text-center">Registrarme como un nuevo usuario</a>-->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock login %}
<script>

  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
