{% extends "users/login.html" %}

    {% block title %}Password reset complete{% endblock %}

    {% block login %}
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="page-header">
            <h2>Recuperar contraseña</h2>
        </div>
            <p>Tu contraseña ha sido definida. Ya puedes iniciar sesión de nuevo</p>  
            <p><a href="{% url 'users:login' %}">Iniciar sesión</a></p>  
        </div>
    </div>
    {% endblock login %}