{% extends "users/login.html" %}

    {% block title %}Recuperación de contraseña exitosa{% endblock %}

    {% block login %}
    <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <div class="page-header">
                    <h2>Recuperar contraseña</h2>
                </div>
        <p>Hemos enviado las instrucciones de como recuperar la contraseña a la dirección de correo electrónico especificada</p>  
        <p>Estarás recibiendo el correo pronto.</p>  
        </div>
        </div>
    {% endblock login %}