{% extends "users/login.html" %}
    {% block title %}Definir nueva contraseña{% endblock %}

    {% block login %}
    <div class="row">
                <div class="col-md-6 col-sm-offset-3">
                    <div class="page-header">
                    <h2>Recuperar contraseña</h2>
                </div>
        {% if validlink %}
            
                <p>Por favor ingrese su nueva contraseña dos veces.<br />
                  Así podremos verificar que es correcta.</p>
                <form action="" method="post">
                    {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Recuperar</button>
                </form>
             </div>
        
        {% else %}
            <h1>Recuperación de contraseña fallida</h1>
            <p>El vínculo de recuperación de contraseña es inválido, <br />
            Posiblemente ya ha sido usado <br />
            Por favor solicite una nueva contraseña.</p>
        {% endif %}
        </div>  
    {% endblock login %}