{% extends "users/login.html" %}
{% block titulo %}_-=SERE-Registrarse=-_{% endblock titulo %}
{% block extras_js %}
<script type="text/javascript">
// URL cargar permisos
var CARGAR_PERMISOS = "{% url 'users:cargar_permisos' %}"
</script>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'users/user_register.js' %}"></script>
{% endblock extras_js %}
<body class="hold-transition register-page">
{% block login %}
<div class="register-box">
  <div class="register-logo">
    <a href="#"><b>SE</b>RE</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Registrar un nuevo usuario</p>

    <form action="{% url 'users:registrar' %}" method="post">
    {% csrf_token %}
      <div class="form-group has-feedback">
        {{ form.first_name }}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.last_name }}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.email }}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.username }}
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.password1 }}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {{ form.password2 }}
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        <div class="checkbox icheck">
          <label>
            {{ form.is_staff}}
          </label>
            {{ form.is_staff.label}}
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <div class="checkbox icheck">
          <label>
            {{ form.is_active}}
          </label>
            {{ form.is_active.label}}
          </div>
        </div>
        <!-- /.col -->
      </div>
      <div class="form-group has-feedback">
        <label>
              Grupos de Usuario
        </label>
        {{ form.groups }}
      </div>
      <div class="form-group has-feedback" id="permisos_form">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
    </form>
    <!--
    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Entrar usando
        Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Entrar usando
        Google+</a>
    </div>-->

    <!--<a href="#" class="text-center">Ya tengo un usuario</a>-->
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock login %}
</body>
</html>
