{% extends 'starter.html' %}
{% block titulo %}_-=SERE-Consultar Usuarios=-_{% endblock titulo %}
{% block extras_css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
{% endblock extras_css %}
{% block extras_js %}
<link rel="stylesheet" href="{% static 'css/checked_img.css' %}">
<script src="{% static 'DataTables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript">
// Objeto Json lista de usuarios
    var LISTAR_USER = "{% url 'users:listar_users' %}"
</script>
<script src="{% static 'users/user_listDataTable.js' %}" type="text/javascript"></script>
{% endblock extras_js %}
{% block content_header %}
    <section class="content-header">
      <h1>
        Lista de Usuarios
        <small>Mustra los datos de todos los usuarios Registrados</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> {% block breadcrumbs %} Level {% endblock breadcrumbs %}</a></li>
        <li class="active">Here</li>
      </ol>
    </section>
{% endblock content_header %}
{% block content_main %}
    <section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                <i class="fa fa-list"></i>
                <h3 class="box-title"> Lista de Usuarios</h3>
                </div>
                <div class="col-lg-3">
                    <a href="{%url 'users:registrar' %}" class="glyphicon glyphicon-plus btn btn-block btn-primary"> Agregar Usuario</a>
                </div><br><br>
                <div class="box-body pad table-responsive">
                <form id="forma_activar" method="post">
                {% csrf_token %}
                    <table id="datatable" class="diplay">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Nombres y Apellidos</th>
                                <th>Email</th>
                                <th>Fecha de registro</th>
                                <th>Ultima Fecha de Ingreso</th>
                                <th>Activo/Inactivo</th>
                                <th>Grupo</th>
                                <th>Activar/Inactivar Usuarios</th>
                            </tr>
                        </thead>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content_main %}